/* Hero */
.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background: linear-gradient(rgb(135, 135, 135), var(--Background-HTML));

  height: 500px;
}

.hero-title,
.hero-text {
  margin: 0;
  text-align: center;
}

.hero-title {
  color: var(--High-emphasis-light-text);
}

.hero-text {
  color: var(--Medium-emphasis-light-text);
}

/* API cards */
.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.cards-api {
  border-radius: 30px;
  background-color: rgb(43, 43, 43);
  min-width: 300px;
  max-width: 300px;
  height: 200px;
  padding: 15px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cards-api-heading {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 10px;
}

.cards-api-h3 {
  margin: 0 0 0 10px;
}

.cards-api-documentation-link {
  text-decoration: none;
  color: var(--Medium-emphasis-light-text);
  text-align: center;
  margin-top: 10px;
}

/* Themes */
.steam-theme {
  background: linear-gradient(
    var(--Theme-Steam-light),
    var(--Theme-Steam-dark)
  );
}

.igdb-theme {
  background: linear-gradient(var(--Theme-IGDB-light), var(--Theme-IGDB-dark));
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1090px) {
  .hero-container {
    height: 400px;
  }

  .cards-api {
    min-width: 300px;
    max-width: 300px;
    height: 200px;
    padding: 15px;
  }
}

/* Large Mobile */
@media (min-width: 481px) and (max-width: 767px) {
  .hero-container {
    height: 400px;
  }
  .cards-container {
    flex-wrap: wrap;
  }

  .cards-api {
    border-radius: 0;
    max-width: 100%;
    min-height: 200px;
    height: auto;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .hero-title,
  .hero-text {
    margin: 0 30px;
    text-align: center;
  }
  .hero-container {
    height: 500px;
  }
  .cards-container {
    flex-wrap: wrap;
  }
  .cards-api {
    border-radius: 0;
    min-width: auto;
    max-width: 100%;
    min-height: 200px;
    height: auto;
  }
}
