.nav-container {
  display: flex;
  justify-content: end;
  box-shadow: 0 2px 10px black;
  background-color: var(--Background-HTML);

  height: var(--nav-height);
  padding-right: 10px;

  position: relative;
  z-index: 2;
}

.nav-container-mobile {
  display: none;
  box-shadow: 0 2px 10px black;
  background-color: var(--Background-HTML);

  height: var(--nav-height);
  padding: 0 10px;

  position: relative;
  z-index: 2;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.burger-btn {
  display: none;
  border: none;
  background: none;
}

.burger-btn:hover {
  cursor: pointer;
}

.nav-item {
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
  border-top: 2px solid var(--Background-HTML);
}

.nav-item.active {
  border-top: 2px solid white;
}

.nav-link {
  display: flex;
  align-items: center;
  color: var(--High-emphasis-light-text);
  text-decoration: none;
}

.nav-display-fix {
  display: flex;
  gap: 30px;
}

.dropdown-btn {
  gap: 5px;
}

.dropdown-btn:hover {
  cursor: pointer;
}

.dropdown-container > div.nav-link.dropdown-btn {
  display: none;
}

.dropdown-container {
  position: absolute;
  z-index: 1;
  top: -110px;
  right: 113px;
  width: 150px;
  background-color: var(--Background-HTML);
  box-shadow: 0 black;
  border-radius: 0 0 15px 15px;
  padding: 10px;
  transition: 0.3s;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdown-container.open {
  transition: 0.5s;
  top: var(--nav-height);
  box-shadow: 0 2px 10px black;
}

.dropdown-item {
  text-decoration: none;
  text-align: center;
  color: var(--High-emphasis-light-text);
  background-color: var(--Background-HTML);
  border: 1px solid var(--Background-HTML);
  border-radius: 5px;
  width: 100%;
  margin-bottom: 5px;
  padding: 2px 0;
  transition: 0.3s;
}

.dropdown-container .dropdown-item:last-child {
  margin-bottom: 0;
}

.dropdown-item:hover {
  transition: 0.3s;
  background-color: var(--Background-HTML-hover);
  border: 1px solid var(--Background-HTML-hover-border);
}

.nav-compare {
  color: var(--High-emphasis-dark-text);
  background-color: var(--Btn-secondary);

  border-radius: 10px;

  height: 30px;
  padding: 0 20px;
  /* margin-right: 15px; */
}

.rotate-180 {
  transition: 0.5s;
  rotate: 180deg;
}

.nav-sidebar {
  display: none;
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1090px) {
}

/* Large Mobile */
@media (min-width: 481px) and (max-width: 767px) {
  .nav-container {
    justify-content: center;
    padding: 0;
  }
  .dropdown-container {
    right: 0;
    left: 0;
    top: -10px;
    border-radius: 0;
    width: auto;
    flex-direction: row;
    gap: 10px;
    /* flex-wrap: wrap; */
  }
}

/* Mobile */
@media (max-width: 480px) {
  .nav-container {
    display: none;
  }

  .nav-container-mobile {
    display: flex;
  }

  .nav-list.left {
    width: 100%;
  }

  .nav-list.left > .nav-item {
    width: 100%;
    justify-content: start;
  }

  .nav-sidebar > .nav-list {
    flex-direction: column;
    width: 100%;
  }

  .nav-sidebar > .nav-list > .nav-item {
    justify-content: center;
    border-top: 0;
    height: 70px;
    transition: 0.3s;
  }

  .nav-sidebar > .nav-list > li > a {
    width: 100%;
    height: 100%;
    border-left: 10px solid rgba(0, 0, 0, 0);

    display: flex;
    justify-content: center;
  }

  .nav-sidebar > .nav-list > li > a:hover {
    transition: 0.3s;
    border-left: 10px solid white;
    background-color: var(--Background-HTML-hover);
  }

  .nav-sidebar > .nav-list > .nav-item.active > a {
    border-left: 10px solid white;
  }

  .burger-btn {
    display: flex;
  }

  .nav-sidebar-cover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
  }

  .nav-sidebar-cover.open-cover {
    right: 0;
  }

  .nav-sidebar {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;

    position: absolute;
    top: 0;
    left: -80vw;
    bottom: 0;
    z-index: 4;
    width: 75vw;
    background-color: var(--Background-HTML);
    box-shadow: 0 black;

    padding: 20px 0;

    transition: 0.3s;
  }

  .dropdown-container {
    background-color: var(--Background-HTML);
    padding: 20px 0;
    gap: 20px;

    top: 0;
    left: -75vw;
    bottom: 0;

    width: 75vw;

    z-index: 5;

    align-items: center;
  }

  .dropdown-item {
    border: 0;
    margin: 0;
    padding: 0;
    height: 70px;
    width: calc(100% - 10px);
    border-radius: 0;
    border-left: 10px solid var(--Background-HTML);

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--Background-HTML);
  }

  .dropdown-item:hover {
    border: 0px;
    border-left: 10px solid white;
  }

  .dropdown-container.open {
    top: 0;
    left: 0;
  }

  .dropdown-container > div.nav-link.dropdown-btn {
    display: flex;
    padding: 20px;
  }

  .nav-sidebar.open-sidebar {
    transition: 0.3s;
    left: 0;
    box-shadow: 0 2px 10px black;
  }
}
