.piechart-container {
  display: flex;
  justify-content: center;
}

.others-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.others-contents {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
