.chart-container {
  display: flex;
  justify-content: center;
  gap: 10px;

  border: 1px solid var(--Border-color);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.25);
  width: fit-content;
  padding: 20px;
  margin: 0 auto;
}

.chart-options {
  display: flex;
  flex-direction: column;
  gap: 20px;

  border: 1px solid black;
  background: var(--Table-bg-row-dark);
  border-radius: 10px;
  padding: 10px;
}

.options {
  display: flex;
  flex-direction: column;
}

.others-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.others-contents {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
