/* --- Table Container --- */
.table-container {
  width: 95%;
  max-width: 1000px;

  margin: 20px auto;
  border-radius: 10px;

  border: 1px solid var(--Table-border-color);

  overflow: hidden;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.25);

  /* allows for table to have border-radius */
  border-collapse: separate;
  border-spacing: 0;
}

/* --- Header --- */
.table-head {
  background: var(--Table-header-bg);
  color: var(--High-emphasis-light-text);
}

.table-head > tr > th {
  padding: 10px 16px;
  font-weight: bold;
  text-align: center;
  border-bottom: 2px solid var(--Table-border-color);
}

.table-head > tr > .name {
  text-align: left;
}

/* --- Body --- */
.table-row {
  background: var(--Table-bg-row-light);
  height: 70px;
  transition: 0.5s;
  color: var(--High-emphasis-light-text);
}

.table-row:nth-child(2n) {
  background: var(--Table-bg-row-dark);
}

.table-row:hover {
  transition: 0.5s;
  background: var(--Table-row-hover);
  color: var(--High-emphasis-dark-text);
}

td {
  padding: 10px 16px;
  font-size: 14px;
  text-align: center;
}

.name {
  text-align: left;
}

.table-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* --- Buttons (Prev / Next) --- */
.table-buttons {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.table-prev-button,
.table-next-button {
  background: var(--Btn-secondary);
  border: none;
  border-radius: 10px;

  width: 80px;
  height: 30px;

  transition: 0.3s;
}

.table-prev-button:hover,
.table-next-button:hover {
  transition: 0.3s;
  background: rgba(202, 202, 202, 0.75);
  cursor: pointer;
  transform: translateY(-2px);
}

.deactivate-button {
  background-color: rgba(202, 202, 202, 0.35) !important;
  color: var(--Low-emphasis-dark-text);
  cursor: default !important;
  transform: none !important;
}
