/* --- Table Container --- */
.table-container {
  width: 95%;
  max-width: 1000px;

  margin: 20px auto;
  border-radius: 10px;

  border: 1px solid var(--Border-color);

  overflow: hidden;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.25);

  /* allows for table to have border-radius */
  border-collapse: separate;
  border-spacing: 0;
}

.table-card-container {
  display: none;
}

/* --- Header --- */
.table-head {
  background: var(--Table-header-bg);
  color: var(--High-emphasis-light-text);
}

.table-head > tr > th {
  padding: 10px 16px;
  font-weight: bold;
  text-align: center;
  border-bottom: 2px solid var(--Border-color);
}

.table-head > tr > .name {
  text-align: left;
}

/* --- Body --- */
.table-row {
  background: var(--Table-bg-row-light);
  height: 70px;
  transition: 0.5s;
  color: var(--High-emphasis-light-text);
}

.table-row:nth-child(2n) {
  background: var(--Table-bg-row-dark);
}

.table-row:hover {
  transition: 0.5s;
  background: var(--Table-row-hover);
  color: var(--High-emphasis-dark-text);
}

.table-image-container {
  width: 50px;
}

td {
  padding: 10px 16px;
  text-align: center;
}

.name {
  text-align: left;
}

.table-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  border-radius: 5px;
}

/* --- Buttons (Prev / Next) --- */
.table-buttons {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.table-prev-button,
.table-next-button {
  background: var(--Btn-secondary);
  border: none;
  border-radius: 10px;

  width: 80px;
  height: 30px;

  transition: 0.3s;
}

.table-prev-button:hover,
.table-next-button:hover {
  transition: 0.3s;
  background: rgba(202, 202, 202, 0.75);
  cursor: pointer;
  transform: translateY(-2px);
}
.table-prev-button.deactivate-button,
.table-next-button.deactivate-button {
  background-color: rgba(202, 202, 202, 0.35);
  color: var(--Low-emphasis-dark-text);
  cursor: default;
  transform: none;
}

.table-index-jump {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.table-index-jump-btn {
  color: var(--Low-emphasis-light-text);
  cursor: pointer;

  width: 20px;
  height: 20px;

  transition: 0.3s;
}

.table-index-jump-current {
  transition: 0.3s;
  color: var(--High-emphasis-light-text);
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1090px) {
  /* --- Table Container --- */
  .table-container {
    border-radius: 30px;
  }
  /* --- Header --- */
  .table-head > tr > th {
    padding: 8px 14px;
  }

  /* --- Body --- */
  .table-row {
    height: 50px;
  }

  .table-image-container {
    padding: 5px;
  }

  td {
    padding: 8px 14px;
  }

  .table-img > img {
    height: 40px;
  }

  /* --- Buttons (Prev / Next) --- */
  .table-prev-button,
  .table-next-button {
    border-radius: 30px;
    width: 150px;
    height: 40px;
  }

  .table-prev-button:hover,
  .table-next-button:hover {
    transform: translateY(0);
  }
}
/* Large Mobile & Mobile */
@media (max-width: 767px) {
  .table-container {
    display: none;
  }

  .table-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--Border-color);
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.25);
    background: var(--Table-bg-row-dark);
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 10px;
  }

  .table-card {
    border-bottom: 1px solid var(--Border-color);
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 100%;
    transition: 0.3s;
    padding: 10px;
  }

  .table-card:last-child {
    border-bottom: none;
  }

  .table-card:hover {
    background: var(--Table-row-hover);
    color: var(--High-emphasis-dark-text);
  }

  .table-card:hover .date p,
  .table-card:hover .price p {
    transition: 0.3s;
    color: var(--Medium-emphasis-dark-text);
  }

  .img {
    border-radius: 13px;
  }

  .rating {
    margin-top: 10px;
    height: 25px;
  }

  .table-card-details {
    display: flex;
    flex-direction: column;

    /* width: 100%; */
  }

  .name {
    margin-bottom: 10px;
  }

  .date p,
  .price p {
    color: var(--Medium-emphasis-light-text);
  }
}

@media (max-width: 480px) {
  .table-card {
    border-bottom: 1px solid var(--Border-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    transition: 0.3s;
    padding: 10px;
  }

  .table-card-details {
    width: 75vw;
  }

  .img {
    width: 75vw;
    height: auto;
  }

  .table-buttons {
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    gap: 10px;
  }
}
