.nav-container {
  display: flex;
  justify-content: end;
  box-shadow: 0 2px 10px black;
  background-color: var(--Background-HTML);

  height: var(--nav-height);
  margin-right: 10px;

  position: relative;
  z-index: 2;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0;
  display: flex;
  align-items: center;
  border-top: 2px solid var(--Background-HTML);
}

.nav-item.active {
  border-top: 2px solid white;
}

.nav-link {
  height: 50%;
  display: flex;
  align-items: center;
  color: var(--High-emphasis-light-text);
  text-decoration: none;
  /* margin-right: 10px; */
  /* padding: 0 8px; */
}

.dropdown-btn {
  gap: 5px;
}

.dropdown-btn:hover {
  cursor: pointer;
}

.dropdown-container {
  position: absolute;
  z-index: 1;
  top: -100px;
  right: 113px;
  width: 150px;
  background-color: var(--Background-HTML);
  box-shadow: 0 2px 10px black;
  border-radius: 0 0 15px 15px;
  padding: 10px;
  transition: 0.3s;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdown-container.open {
  transition: 0.5s;
  top: var(--nav-height);
}

.dropdown-item {
  text-decoration: none;
  text-align: center;
  color: var(--High-emphasis-light-text);
  background-color: var(--Background-HTML);
  border: 1px solid var(--Background-HTML);
  border-radius: 5px;
  width: 100%;
  margin-bottom: 5px;
  padding: 2px 0;
  transition: 0.3s;
}

.dropdown-container .dropdown-item:last-child {
  margin-bottom: 0;
}

.dropdown-item:hover {
  transition: 0.3s;
  background-color: var(--Background-HTML-hover);
  border: 1px solid var(--Background-HTML-hover-border);
  border-radius: 5px;
}

.nav-compare {
  color: var(--High-emphasis-dark-text);
  background-color: var(--Btn-secondary);

  border-radius: 10px;

  height: 30px;
  padding: 0 20px;
  /* margin-right: 15px; */
}

.rotate-180 {
  transition: 0.5s;
  rotate: 180deg;
}
