/* Desktop size: 1090px >= */
/* Tablet size: 768px - 1089px */
/* Large Mobile View size: 481px - 767px */
/* Mobile View size: 480 <= */

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  /* For consistent styling */
  color: var(--High-emphasis-light-text); /* by default */
  background-color: var(--Background-HTML);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* --- Font Sizes --- */
  --Desktop-text: 16px;
  --Tablet-text: 15px;
  --Mobile-text: 14px;

  /* --- Color Palette --- */
  /* Text */
  --High-emphasis-light-text: rgb(220, 220, 220);
  --Medium-emphasis-light-text: rgb(176, 176, 176);
  --Low-emphasis-light-text: rgb(132, 132, 132);

  --High-emphasis-dark-text: rgb(30, 30, 30);
  --Medium-emphasis-dark-text: rgb(50, 50, 50);
  --Low-emphasis-dark-text: rgb(70, 70, 70);

  /* Background */
  --Background-HTML: rgb(27, 27, 27);

  /* Buttons */
  --Btn-primary: rgb(56, 139, 248);
  --Btn-secondary: rgb(202, 202, 202);

  /* Hover effects */
  --Background-HTML-hover: rgb(60, 60, 60);
  --Background-HTML-hover-border: rgb(220, 220, 220);

  /* --- Special Colors --- */
  /* Steam */
  --Theme-Steam-dark: rgb(23, 26, 33);
  --Theme-Steam-light: rgb(42, 71, 94);

  /* IGDB */
  --Theme-IGDB-dark: rgb(56, 22, 107);
  --Theme-IGDB-light: rgb(139, 77, 229);

  /* --- Measurement Variables --- */
  --nav-height: 50px;

  /* For charts/table */
  --Table-border-color: rgb(132, 132, 132);
  --Table-border: 2px solid var(--Table-border-color);
  --Table-bg-row-light: rgb(87, 87, 87);
  --Table-bg-row-dark: rgb(59, 59, 59);
  --Table-header-bg: rgb(20, 20, 20);
  --Table-row-hover: rgb(196, 196, 196);
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

.app-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main-contents {
  flex: 1;
}

h1 {
  text-align: center;
}

p {
  margin: 0;
}
